<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eLiga</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />



</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-danger bg-success">
        <img src="~/Content/img/LogoLiga.png" alt="Alternate Text" width="80" height="50"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Index", "Principal")"><b>Inicio</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#about"><b>Acerca</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#contacto""><b>Contacto</b></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <b>Ver Mas</b>
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item text-dark bg-light" href="@Url.Action("FullStadiums","Stadia")"><b>Estadios</b></a>
                        <a class="dropdown-item text-white bg-success" href="@Url.Action("FullTeams","Teams")"><b>Equipos</b></a>
                        <a class="dropdown-item text-dark bg-light" href="@Url.Action("FullPlayers","Players")"><b>Jugadores</b></a>
                    </div>
                </li>

                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("Create", "Users")"><b>Usuarios</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("Index","Stadia")"><b>Estadios</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("AllTeams","Teams")"><b>Equipos</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("Index","Players")"><b>Jugadores</b></a>
                    </li>


                }

                @if (User.IsInRole("Owner"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b>Mis Jugadores</b>
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item text-dark bg-light" href="@Url.Action("Index","Players")"><b>Jugadores</b></a>

                            <a class="dropdown-item text-dark bg-light" href="@Url.Action("Create","Players")"><b>Agregar Jugador</b></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b>Mis Equipos</b>
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item text-dark bg-light" href="@Url.Action("Index","Teams")"><b>Equipos</b></a>

                            <a class="dropdown-item text-dark bg-light" href="@Url.Action("Create","Teams")"><b>Agregar Equipo</b></a>
                        </div>
                    </li>

                }

            </ul>


            <span class="navbar-text">
                @Html.Partial("_LoginPartial")
            </span>

        </div>
    </nav>
    <div>
        @RenderBody()
        <br />
        <footer class="bg-dark">

            <br />
            <p class="text-center text-white m-3">&copy; @DateTime.Now.Year - eLiga Web</p>
            <br />

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>



</html>

<script src="~/Scripts/jquery.dataTables.js"></script>
