@model ControlEquipos.Web.Models.Stadium

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stadium</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StadiumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StadiumName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InaugurationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InaugurationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            <div class="form-horizontal">
                <p>
                    <img src="@Url.Action("getImage","Stadiums", new { Id = Model.Id })" width="380" height="380" />
                    <br />
                </p>

            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.About)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
