@using ControlEquipos.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

    <div class="row justify-content-center m-5">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header py-2 " style="background-color: #28a745">
                    <h5 class="text-center text-white">Iniciar Sesión</h5>
                </div>
                <div class="card-body bg-dark">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label class="col-md-4 text-white">Correo Electrónico:</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 text-white">Contraseña:</label>
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        <label class="col-md-4 text-white">Recordar</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="btn btn btn-info">
                                        <span class="text-white"> Iniciar Sesión</span>
                                    </button>
                                  
                                </div>

                                <div>
                                    <a href="@Url.Action("Index","Principal")" class="btn btn btn-danger" style="margin-left:45%;">

                                        <span class="text-white"> Regresar</span>
                                    </a>
                                </div>
                            </div>
                        }
                    </section>
                </div>
            </div>

        </div>

    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}