@model ControlEquipos.Web.Models.Team

@{
    ViewBag.Title = "Edit";
}

<h2 class="text-center m-4">Modificar un Equipo</h2>

@using (Html.BeginForm("Edit", "Teams", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()


    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="card container border-dark">
            <p></p>
            <div class="card-header bg-dark"></div>

            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-7"><b>Nombre del Equipo:</b></label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TeamName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TeamName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-7"><b>Fecha de Fundacion:</b></label>
                            <div class="col-md-10">
                                <input type="date" name="Foundation" value="" class="form-control" />
                                @Html.ValidationMessageFor(model => model.FoundationDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    @*<div class="col-md-6">
                        <div class="form-group class=" col-md-7"">
                            <label class="col-md-7"><b>Dueño del Equipo:</b></label>
                            <div class="col-md-10">
                                <select name="OwnerID" class="form-control">
                                    <option>Elige al Dueño:</option>
                                    @foreach (var item in ViewBag.Owner)
                                    {
                                        <option value="@item.Id">@item.Id</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>*@
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-7"><b>Ciudad Representante:</b></label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-7"><b>Campeonatos:</b></label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Championships, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Championships, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="col-md-7"><b>Agrega la Imagen del Estadio:</b></label>
                        @*Html.EditorFor(model => model.Imagen, new { htmlAttributes = new { @class = "form-control" } })*@
                        <div class="col-md-10">
                            <img src="@Url.Action("getImage", "Teams")" />

                            <input type="file" name="imageload" />
                            @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
                <center>
                    <div class="col-md-6">
                        <input type="submit" value="Guardar Cambios" class="btn btn-outline-success btn-md btn-block col-md-12" />
                        @Html.ActionLink("Volver a la Lista", "Index", "Teams", null, new { @class = "btn btn-warning btn-md btn-block" })
                    </div>
                </center>

            </div>
            <div class="card-footer bg-dark"></div>
            <br />

        </div>

    </div>


















}