@model IEnumerable<ControlEquipos.Web.Models.Team>

@{
    ViewBag.Title = "Index";
}


<h2 class="text-center m-3"><b>Equipos Registrados</b></h2>
@Html.ActionLink("Añadir un nuevo equipo", "Create", null, new { @class = "btn btn-block btn-dark" })

<div class="row">

    @foreach (var item in Model)
    {
        <center>
            <div class="col-xl-3 col-md-3 mb-4 m-3">
                <div class="card border-bottom-dark shadow  border-left-dark shadow h-100 py-2 " style="width: 20rem">
                    <div class="card-header bg-success"></div>
                    <div class="card-body">

                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <center>
                                    <a href="@Url.Action("Delete","Teams", new { id= item.Id})"><img src="@Url.Action("getImage","Teams", new {Id = item.Id, @class="card-img-top" })" width="200" height="200" /></a>

</center>
                                <br />
                                <div class="text-xs text-lg-left mb-1"><b>Nombre:</b> @item.TeamName</div>
                                <div class="text-xs text-lg-left mb-1"><b>Ciudad:</b> @item.Location</div>
                                <div class="text-xs text-lg-left mb-1"><b>Campeonatos:</b> @item.Championships</div>
                            </div>
                            <br />
                        </div>
                        <center class="m-2">

                            @Html.ActionLink("Consultar", "Details", new { id = item.Id }, new { @class = "btn btn-block btn-outline-info" })
                            @Html.ActionLink("Modificar", "Edit", new { id = item.Id }, new { @class = "btn btn-block btn-warning" })

                        </center>
                    </div>
                    <div class="card-header bg-success"></div>

                </div>
            </div>
        </center>

    }
</div>