@model IEnumerable<ControlEquipos.Web.Models.Stadia>

@{
    ViewBag.Title = "Index";
}

<h2 class="m-3 text-center"><b>Estadios Registrados</b></h2>
@Html.ActionLink("Añadir un nuevo estadio", "Create", null, new { @class = "btn btn-block btn-dark" })
<div class="row">

    @foreach (var item in Model)
    {
        <center>
            <div class="col-xl-3 col-md-3 mb-4 m-3">
                <div class="card border-bottom-dark shadow  border-left-dark shadow h-100 py-2" style="width: 20rem">
                    <div class="card-header bg-success"></div>
                    <div class="card-body">

                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <center>
                                    <a href="@Url.Action("Delete","Stadia", new { id= item.Id})"><img src="@Url.Action("getImage","Stadia", new {Id = item.Id, @class="card-img-top" })" width="270" height="200" /></a>

                                </center>
                                <br />
                                <div class="text-xs text-lg-left mb-1"><b>Nombre:</b> @item.StadiumName</div>
                                <div class="text-xs text-lg-left mb-1"><b>Direccion:</b> @item.About</div>
                                <div class="text-xs text-lg-left mb-1"><b>Capacidad:</b> @item.Capacity</div>
                            </div>
                            <br />
                        </div>
                        <center class="m-2">

                            @Html.ActionLink("Consultar", "Details", new { id = item.Id }, new { @class = "btn btn-block btn-outline-info" })
                            @Html.ActionLink("Modificar", "Edit", new { id = item.Id }, new { @class = "btn btn-block btn-warning" })
                        </center>
                    </div>
                    <div class="card-header bg-success"></div>

                </div>
            </div>
        </center>

    }
</div>