@model ControlEquipos.Web.Models.Player

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center m-4">Agregar un nuevo Jugador</h2>

@using (Html.BeginForm("Create", "Players", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="card container border-dark">
            <p></p>
            <div class="card-header bg-success"></div>

            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-7"><b>Nombre del Jugador:</b></label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PlayerName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PlayerName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-7"><b>Apellido del Jugador:</b></label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PlayerLastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PlayerLastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group class=" col-md-7"">
                            <label class="col-md-7"><b>Nacionalidad:</b></label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-7"><b>Posicion del Jugador:</b></label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-7"><b>Fecha de Nacimiento:</b></label>
                            <div class="col-md-10">
                                <input type="date" name="BornDate" value="" class="form-control" />
                                @Html.ValidationMessageFor(model => model.BornDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-7"><b>Equipo Actual:</b></label>
                            <div class="col-md-10">
                                <select name="TeamID" class="form-control">
                                    <option>Elige un equipo:</option>
                                    @foreach (var item in ViewBag.Team)
                                    {
                                        <option value="@item.Id">@item.TeamName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-7"><b>Acerca del Jugador:</b></label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.About, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.About, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>





                    <div class="col-md-6">
                        <label class="col-md-7"><b>Agrega la Imagen del Estadio:</b></label>
                        @*Html.EditorFor(model => model.Imagen, new { htmlAttributes = new { @class = "form-control" } })*@
                        <div class="col-md-10">
                            <img src="@Url.Action("getImage", "Players")" />

                            <input type="file" name="imageload" />
                            @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })
                        </div>

                    </div>
                </div>
                <center>
                    <div class="col-md-6">
                        <input type="submit" value="Agregar Jugador" class="btn btn-outline-success btn-md btn-block col-md-12" />
                        @Html.ActionLink("Volver a la Lista", "Index", "Players", null, new { @class = "btn btn-warning btn-md btn-block" })
                    </div>
                </center>

            </div>
            <div class="card-footer bg-success"></div>
            <br />

        </div>

    </div>

}




