@model IEnumerable<ControlEquipos.Web.Models.Player>

@{
    ViewBag.Title = "FullPlayersByTeam";
}

<h2 class="text-center m-3">Jugadores del equipo </h2>
<hr class="bg-dark " />
<div class="row">
    @foreach (var item in Model)
    {
        <center>
            <div class="col-xl-3 col-md-3 mb-4 m-3">
                <div class="card border-bottom-dark shadow  border-left-dark shadow h-100 py-2 " style="width: 20rem">
                    <div class="card-header bg-dark"></div>
                    <div class="card-body">

                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <center>
                                    <img src="@Url.Action("getImage","Players", new {Id = item.Id })" width="200" height="200" />

                                </center>
                                <br />
                                <div class="text-xs text-lg-left mb-1"><b>Nombre:</b> @item.PlayerName @item.PlayerLastName</div>
                                <div class="text-xs text-lg-left mb-1"><b>Nacionalidad:</b> @item.Nationality</div>

                            </div>
                            <br />
                        </div>
                        <center class="m-2">
                            @Html.ActionLink("Detalles", "FullDetails", new { id = item.Id }, new { @class = "btn btn-block btn-outline-dark" })
                        </center>
                    </div>
                    <div class="card-header bg-dark"></div>

                </div>
            </div>
        </center>

    }
</div>
