@model IEnumerable<ControlEquipos.Web.Models.Player>

@{
    ViewBag.Title = "FullPlayers";
}

<h2 class="text-center m-3"><b>Todos los jugadores</b></h2>
<div class="row justify-content-center m-3">
    @foreach (var item in Model)
    {
        <div class="col-xl-3 col-md-6 mb-4">

                <div class="card border-success shadow h-100 py-2">
                    <div class="card-body ">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <img class="card-img-top justify-content-center m-2" src="@Url.Action("getImage", "Players", new{ id=item.Id})" alt="Jugador" width=100 height=200>
                                <div class=" h5 mb-0 text-justify  text-dark"><b>Nombre:</b> @item.PlayerName</div>
                                <p></p>
                                <div class=" h5 mb-0 text-justify  text-dark"><b>Apellido:</b> @item.PlayerLastName</div>
                                <p></p>
                                <div class=" h5 mb-0 text-justify  text-dark"><b>Nacionalidad:</b> @item.Nationality</div>
                            </div>
                        </div>
                        <center>
                            <div>
                                <i class="fas fa-walking fa-3x text-white"></i>
                            </div>
                        </center>
                        <center>
                            <div class="m-2">
                                @Html.ActionLink("Ver Club", "FullPlayersByTeam", new { teamid = item.Id }, new { @class = "btn btn-outline-dark  btn-block" })
                                @Html.ActionLink("Detalles", "FullDetails", new { id = item.Id }, new { @class = "btn btn-info btn-block" })
                            </div>
                        </center>
                    </div>
                </div>

        </div>
    }
</div>

