@model IEnumerable<ControlEquipos.Web.Models.Player>

@{
    ViewBag.Title = "Index";
}

<br />
<h2 class="text-center">Control de Jugadores</h2>
<br />
<div class="container">
    <table class="table container" id="jugadores">
        <thead class="thead-dark border-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre:</th>
                <th scope="col">Apellido</th>
                <th scope="col">Equipo Actual</th>
                <th scope="col">Nacionalidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="border-dark">
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@Html.DisplayFor(modelItem => item.PlayerName)</td>
                    <td>@Html.DisplayFor(modelItem => item.PlayerLastName)</td>
                    <td><a href="@Url.Action("PlayersByTeam","Players",new { teamId=item.Team.Id})">@item.Team.TeamName</a></td>
                    <td>@Html.DisplayFor(modelItem => item.Nationality)</td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>



                </tr>
            }



        </tbody>
    </table>
</div>


@section Scripts{
<script>
    $(document).ready(function () {
        $('#jugadores').DataTable();
    });
</script>
    }
